/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2016, 1:16:43 PM
    Author     : kimaiga
*/

html,
body {
    font-family: 'Raleway', serif;
    background:  #143D52;
    /*background: grey;*/
    color: #666;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

#dhx-scheduler{
    width: 600px;
    height:350px;
}

.calendartabs{
    right:204px;
}